/*------------- Breakpoints mixin*/
/*------------- Heading mixins*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
/*---------------Mixins for transforms, transitions and animations*/
/*Mixin for animation on contact page*/
/*Mixin for hide & show*/
h1, h2, h3, h4, a, p {
  color: white;
  font-family: 'Nothing You Could Do', cursive; }

h1 {
  font-size: 3em; }

h2 {
  font-family: 'Open Sans'; }

a {
  text-decoration: none;
  font-size: 1.5em; }

html {
  overflow-x: hidden; }

body {
  background: #DAE2F8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DAE2F8, #D6A4A4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DAE2F8, #D6A4A4);
  overflow-x: hidden;
  width: 100%;
  height: 100em; }

main {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.space-ship {
  display: none;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 50px dashed #060E47; }

.planet {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: absolute;
  border-radius: 100%;
  background: #060E47;
  animation-timing-function: ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1000; }
  .planet:hover {
    animation-play-state: paused;
    background: #FF006C;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  .planet img {
    height: 1em;
    margin: 0.5em 0 0 0;
    align-self: center;
    padding: 0; }
  .planet:nth-child(1) {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s, opacity 0.7s;
    visibility: hidden;
    height: 22em;
    width: 22em;
    top: 90%;
    left: 20%;
    -webkit-animation-name: planet-portfolio;
    -webkit-animation-duration: 200s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: planet-portfolio;
    -moz-animation-duration: 200s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: planet-portfolio;
    -ms-animation-duration: 200s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: planet-portfolio;
    -o-animation-duration: 200s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: infinite;
    animation-name: planet-portfolio;
    animation-duration: 200s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; }
    .planet:nth-child(1) a {
      font-size: 2em; }
    .planet:nth-child(1).active {
      visibility: visible;
      opacity: 1;
      transition: visibility 0.7s, opacity 0.7s;
      visibility: visible; }
  .planet:nth-child(2) {
    -webkit-animation-name: planet2;
    -webkit-animation-duration: 270s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: planet2;
    -moz-animation-duration: 270s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: planet2;
    -ms-animation-duration: 270s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: planet2;
    -o-animation-duration: 270s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: infinite;
    animation-name: planet2;
    animation-duration: 270s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    height: 5em;
    width: 5em;
    top: 130%;
    left: 70%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s, opacity 0.7s;
    visibility: hidden; }
    .planet:nth-child(2).active {
      visibility: visible;
      opacity: 1;
      transition: visibility 0.7s, opacity 0.7s; }
  .planet:nth-child(3) {
    -webkit-animation-name: planet2;
    -webkit-animation-duration: 370s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: planet2;
    -moz-animation-duration: 370s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: planet2;
    -ms-animation-duration: 370s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: planet2;
    -o-animation-duration: 370s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: infinite;
    animation-name: planet2;
    animation-duration: 370s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    height: 1em;
    width: 1em;
    top: 10%;
    left: 80%;
    position: fixed; }
  .planet:nth-child(4) {
    -webkit-animation-name: planet4;
    -webkit-animation-duration: 250s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: planet4;
    -moz-animation-duration: 250s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: planet4;
    -ms-animation-duration: 250s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: planet4;
    -o-animation-duration: 250s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: infinite;
    animation-name: planet4;
    animation-duration: 250s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    height: 3em;
    width: 3em;
    top: 160%;
    left: 40%;
    visibility: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s, opacity 0.7s; }
    .planet:nth-child(4).active {
      visibility: visible;
      opacity: 1;
      transition: visibility 0.7s, opacity 0.7s; }
  .planet:nth-child(5) {
    -webkit-animation-name: planet5;
    -webkit-animation-duration: 200s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: planet5;
    -moz-animation-duration: 200s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: planet5;
    -ms-animation-duration: 200s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: planet5;
    -o-animation-duration: 200s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: infinite;
    animation-name: planet5;
    animation-duration: 200s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    height: 5em;
    width: 5em;
    top: 60%;
    left: 10%; }
  .planet:nth-child(6) {
    -webkit-animation-name: planet6;
    -webkit-animation-duration: 200s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: planet6;
    -moz-animation-duration: 200s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: planet6;
    -ms-animation-duration: 200s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: planet6;
    -o-animation-duration: 200s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: infinite;
    animation-name: planet6;
    animation-duration: 200s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    height: 2em;
    width: 2em;
    position: fixed;
    top: 70%;
    left: 70%;
    background: #FF006C;
    z-index: 1; }
  .planet:nth-child(7) {
    -webkit-animation-name: planet2;
    -webkit-animation-duration: 370s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: planet2;
    -moz-animation-duration: 370s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: planet2;
    -ms-animation-duration: 370s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: planet2;
    -o-animation-duration: 370s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: infinite;
    animation-name: planet2;
    animation-duration: 370s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    height: 1em;
    width: 1em;
    top: 10%;
    left: 80%;
    position: fixed;
    background: #FF006C; }
  .planet:nth-child(8) {
    -webkit-animation-name: planet2;
    -webkit-animation-duration: 370s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: planet2;
    -moz-animation-duration: 370s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: planet2;
    -ms-animation-duration: 370s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: planet2;
    -o-animation-duration: 370s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: infinite;
    animation-name: planet2;
    animation-duration: 370s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    height: 1em;
    width: 1em;
    top: 70%;
    left: 80%;
    position: fixed; }
  .planet:nth-child(9) {
    -webkit-animation-name: planet2;
    -webkit-animation-duration: 370s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: planet2;
    -moz-animation-duration: 370s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: planet2;
    -ms-animation-duration: 370s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: planet2;
    -o-animation-duration: 370s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: infinite;
    animation-name: planet2;
    animation-duration: 370s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    height: 1em;
    width: 1em;
    top: 100%;
    left: 30%;
    position: fixed;
    background: #FF006C; }
  .planet:nth-child(10) {
    -webkit-animation-name: planet2;
    -webkit-animation-duration: 370s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: planet2;
    -moz-animation-duration: 370s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: planet2;
    -ms-animation-duration: 370s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: planet2;
    -o-animation-duration: 370s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: infinite;
    animation-name: planet2;
    animation-duration: 370s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    height: 1em;
    width: 1em;
    top: 60%;
    left: 20%;
    position: fixed; }

@-webkit-keyframes planet-portfolio {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(60vw, -10vh);
    -moz-transform: translate(60vw, -10vh);
    -ms-transform: translate(60vw, -10vh);
    -o-transform: translate(60vw, -10vh);
    transform: translate(60vw, -10vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  /*

  0% {
    height:10em;
    width:10em;
    top:40%;
    left:10%;
  }

  25%{
    height:10em;
    width:10em;
    top:40%;
    left:50%;
  }

  50%{
    height:10em;
    width:10em;
    top:40%;
    left:90%;
  }

  75%{
    height:10em;
    width:10em;
    top:40%;
    left:50%;
  }

  100%{
    height:10em;
    width:10em;
    top:40%;
    left:10%;
  }


  */ }
@-moz-keyframes planet-portfolio {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(60vw, -10vh);
    -moz-transform: translate(60vw, -10vh);
    -ms-transform: translate(60vw, -10vh);
    -o-transform: translate(60vw, -10vh);
    transform: translate(60vw, -10vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  /*

  0% {
    height:10em;
    width:10em;
    top:40%;
    left:10%;
  }

  25%{
    height:10em;
    width:10em;
    top:40%;
    left:50%;
  }

  50%{
    height:10em;
    width:10em;
    top:40%;
    left:90%;
  }

  75%{
    height:10em;
    width:10em;
    top:40%;
    left:50%;
  }

  100%{
    height:10em;
    width:10em;
    top:40%;
    left:10%;
  }


  */ }
@-ms-keyframes planet-portfolio {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(60vw, -10vh);
    -moz-transform: translate(60vw, -10vh);
    -ms-transform: translate(60vw, -10vh);
    -o-transform: translate(60vw, -10vh);
    transform: translate(60vw, -10vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  /*

  0% {
    height:10em;
    width:10em;
    top:40%;
    left:10%;
  }

  25%{
    height:10em;
    width:10em;
    top:40%;
    left:50%;
  }

  50%{
    height:10em;
    width:10em;
    top:40%;
    left:90%;
  }

  75%{
    height:10em;
    width:10em;
    top:40%;
    left:50%;
  }

  100%{
    height:10em;
    width:10em;
    top:40%;
    left:10%;
  }


  */ }
@-o-keyframes planet-portfolio {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(60vw, -10vh);
    -moz-transform: translate(60vw, -10vh);
    -ms-transform: translate(60vw, -10vh);
    -o-transform: translate(60vw, -10vh);
    transform: translate(60vw, -10vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  /*

  0% {
    height:10em;
    width:10em;
    top:40%;
    left:10%;
  }

  25%{
    height:10em;
    width:10em;
    top:40%;
    left:50%;
  }

  50%{
    height:10em;
    width:10em;
    top:40%;
    left:90%;
  }

  75%{
    height:10em;
    width:10em;
    top:40%;
    left:50%;
  }

  100%{
    height:10em;
    width:10em;
    top:40%;
    left:10%;
  }


  */ }
@keyframes planet-portfolio {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(60vw, -10vh);
    -moz-transform: translate(60vw, -10vh);
    -ms-transform: translate(60vw, -10vh);
    -o-transform: translate(60vw, -10vh);
    transform: translate(60vw, -10vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  /*

  0% {
    height:10em;
    width:10em;
    top:40%;
    left:10%;
  }

  25%{
    height:10em;
    width:10em;
    top:40%;
    left:50%;
  }

  50%{
    height:10em;
    width:10em;
    top:40%;
    left:90%;
  }

  75%{
    height:10em;
    width:10em;
    top:40%;
    left:50%;
  }

  100%{
    height:10em;
    width:10em;
    top:40%;
    left:10%;
  }


  */ }
@-webkit-keyframes planet2 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-60vw, -20vh);
    -moz-transform: translate(-60vw, -20vh);
    -ms-transform: translate(-60vw, -20vh);
    -o-transform: translate(-60vw, -20vh);
    transform: translate(-60vw, -20vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-moz-keyframes planet2 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-60vw, -20vh);
    -moz-transform: translate(-60vw, -20vh);
    -ms-transform: translate(-60vw, -20vh);
    -o-transform: translate(-60vw, -20vh);
    transform: translate(-60vw, -20vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-ms-keyframes planet2 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-60vw, -20vh);
    -moz-transform: translate(-60vw, -20vh);
    -ms-transform: translate(-60vw, -20vh);
    -o-transform: translate(-60vw, -20vh);
    transform: translate(-60vw, -20vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-o-keyframes planet2 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-60vw, -20vh);
    -moz-transform: translate(-60vw, -20vh);
    -ms-transform: translate(-60vw, -20vh);
    -o-transform: translate(-60vw, -20vh);
    transform: translate(-60vw, -20vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes planet2 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-60vw, -20vh);
    -moz-transform: translate(-60vw, -20vh);
    -ms-transform: translate(-60vw, -20vh);
    -o-transform: translate(-60vw, -20vh);
    transform: translate(-60vw, -20vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-webkit-keyframes planet4 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-20vw, 0);
    -moz-transform: translate(-20vw, 0);
    -ms-transform: translate(-20vw, 0);
    -o-transform: translate(-20vw, 0);
    transform: translate(-20vw, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-moz-keyframes planet4 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-20vw, 0);
    -moz-transform: translate(-20vw, 0);
    -ms-transform: translate(-20vw, 0);
    -o-transform: translate(-20vw, 0);
    transform: translate(-20vw, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-ms-keyframes planet4 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-20vw, 0);
    -moz-transform: translate(-20vw, 0);
    -ms-transform: translate(-20vw, 0);
    -o-transform: translate(-20vw, 0);
    transform: translate(-20vw, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-o-keyframes planet4 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-20vw, 0);
    -moz-transform: translate(-20vw, 0);
    -ms-transform: translate(-20vw, 0);
    -o-transform: translate(-20vw, 0);
    transform: translate(-20vw, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes planet4 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-20vw, 0);
    -moz-transform: translate(-20vw, 0);
    -ms-transform: translate(-20vw, 0);
    -o-transform: translate(-20vw, 0);
    transform: translate(-20vw, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-webkit-keyframes planet5 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(80vw, 20vh) rotate(900deg);
    -moz-transform: translate(80vw, 20vh) rotate(900deg);
    -ms-transform: translate(80vw, 20vh) rotate(900deg);
    -o-transform: translate(80vw, 20vh) rotate(900deg);
    transform: translate(80vw, 20vh) rotate(900deg); }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg); } }
@-moz-keyframes planet5 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(80vw, 20vh) rotate(900deg);
    -moz-transform: translate(80vw, 20vh) rotate(900deg);
    -ms-transform: translate(80vw, 20vh) rotate(900deg);
    -o-transform: translate(80vw, 20vh) rotate(900deg);
    transform: translate(80vw, 20vh) rotate(900deg); }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg); } }
@-ms-keyframes planet5 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(80vw, 20vh) rotate(900deg);
    -moz-transform: translate(80vw, 20vh) rotate(900deg);
    -ms-transform: translate(80vw, 20vh) rotate(900deg);
    -o-transform: translate(80vw, 20vh) rotate(900deg);
    transform: translate(80vw, 20vh) rotate(900deg); }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg); } }
@-o-keyframes planet5 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(80vw, 20vh) rotate(900deg);
    -moz-transform: translate(80vw, 20vh) rotate(900deg);
    -ms-transform: translate(80vw, 20vh) rotate(900deg);
    -o-transform: translate(80vw, 20vh) rotate(900deg);
    transform: translate(80vw, 20vh) rotate(900deg); }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg); } }
@keyframes planet5 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(80vw, 20vh) rotate(900deg);
    -moz-transform: translate(80vw, 20vh) rotate(900deg);
    -ms-transform: translate(80vw, 20vh) rotate(900deg);
    -o-transform: translate(80vw, 20vh) rotate(900deg);
    transform: translate(80vw, 20vh) rotate(900deg); }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg); } }
@-webkit-keyframes planet6 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-50vw, -10vh);
    -moz-transform: translate(-50vw, -10vh);
    -ms-transform: translate(-50vw, -10vh);
    -o-transform: translate(-50vw, -10vh);
    transform: translate(-50vw, -10vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-moz-keyframes planet6 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-50vw, -10vh);
    -moz-transform: translate(-50vw, -10vh);
    -ms-transform: translate(-50vw, -10vh);
    -o-transform: translate(-50vw, -10vh);
    transform: translate(-50vw, -10vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-ms-keyframes planet6 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-50vw, -10vh);
    -moz-transform: translate(-50vw, -10vh);
    -ms-transform: translate(-50vw, -10vh);
    -o-transform: translate(-50vw, -10vh);
    transform: translate(-50vw, -10vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-o-keyframes planet6 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-50vw, -10vh);
    -moz-transform: translate(-50vw, -10vh);
    -ms-transform: translate(-50vw, -10vh);
    -o-transform: translate(-50vw, -10vh);
    transform: translate(-50vw, -10vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes planet6 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-50vw, -10vh);
    -moz-transform: translate(-50vw, -10vh);
    -ms-transform: translate(-50vw, -10vh);
    -o-transform: translate(-50vw, -10vh);
    transform: translate(-50vw, -10vh); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
.loading-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  top: 20%;
  left: 30%;
  width: 36em;
  height: 36em;
  border-radius: 100%;
  background: #060E47;
  z-index: 100; }
  @media (max-width: 785px) {
    .loading-container {
      width: 20em;
      height: 20em; }
      .loading-container h1 {
        font-size: 2em; } }
  .loading-container.active {
    display: inline; }

.loading-object {
  display: none;
  margin: -1em 0 0 -1em;
  position: absolute;
  height: 4em;
  width: 4em;
  border: 0.2em solid #060E47;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 9.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  /* forward prevents the animation from restarting! */
  -moz-animation-name: loading;
  -moz-animation-duration: 9.5s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: loading;
  -ms-animation-duration: 9.5s;
  -ms-animation-fill-mode: forwards;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: loading;
  -o-animation-duration: 9.5s;
  -o-animation-fill-mode: forwards;
  -o-animation-iteration-count: infinite;
  animation-name: loading;
  animation-duration: 9.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
  .loading-object:nth-child(2) {
    height: 0.8em;
    width: 0.8em;
    border: 0.2em solid #060E47;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 9s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: loading;
    -moz-animation-duration: 9s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: loading;
    -ms-animation-duration: 9s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: loading;
    -o-animation-duration: 9s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: infinite;
    animation-name: loading;
    animation-duration: 9s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; }
  .loading-object:nth-child(3) {
    height: 2em;
    width: 1em;
    border: 0.2em solid #060E47;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 12s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: loading;
    -moz-animation-duration: 12s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: loading;
    -ms-animation-duration: 12s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: loading;
    -o-animation-duration: 12s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: infinite;
    animation-name: loading;
    animation-duration: 12s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; }
  .loading-object.article:nth-child(1) {
    z-index: 0;
    height: 23em;
    width: 23em;
    animation: none;
    bottom: 10%;
    left: 0%;
    border-top: none;
    border-left: none;
    border-right: none; }

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 0;
    left: 0; }
  25% {
    -webkit-transform: rotate(400deg);
    -moz-transform: rotate(400deg);
    -ms-transform: rotate(400deg);
    -o-transform: rotate(400deg);
    transform: rotate(400deg);
    top: 0;
    left: 100%; }
  50% {
    -webkit-transform: rotate(800deg);
    -moz-transform: rotate(800deg);
    -ms-transform: rotate(800deg);
    -o-transform: rotate(800deg);
    transform: rotate(800deg);
    top: 100%;
    left: 100%; }
  75% {
    -webkit-transform: rotate(1200deg);
    -moz-transform: rotate(1200deg);
    -ms-transform: rotate(1200deg);
    -o-transform: rotate(1200deg);
    transform: rotate(1200deg);
    left: 0;
    top: 100%; }
  100% {
    -webkit-transform: rotate(1600deg);
    -moz-transform: rotate(1600deg);
    -ms-transform: rotate(1600deg);
    -o-transform: rotate(1600deg);
    transform: rotate(1600deg);
    left: 0;
    top: 0; } }
@-moz-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 0;
    left: 0; }
  25% {
    -webkit-transform: rotate(400deg);
    -moz-transform: rotate(400deg);
    -ms-transform: rotate(400deg);
    -o-transform: rotate(400deg);
    transform: rotate(400deg);
    top: 0;
    left: 100%; }
  50% {
    -webkit-transform: rotate(800deg);
    -moz-transform: rotate(800deg);
    -ms-transform: rotate(800deg);
    -o-transform: rotate(800deg);
    transform: rotate(800deg);
    top: 100%;
    left: 100%; }
  75% {
    -webkit-transform: rotate(1200deg);
    -moz-transform: rotate(1200deg);
    -ms-transform: rotate(1200deg);
    -o-transform: rotate(1200deg);
    transform: rotate(1200deg);
    left: 0;
    top: 100%; }
  100% {
    -webkit-transform: rotate(1600deg);
    -moz-transform: rotate(1600deg);
    -ms-transform: rotate(1600deg);
    -o-transform: rotate(1600deg);
    transform: rotate(1600deg);
    left: 0;
    top: 0; } }
@-ms-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 0;
    left: 0; }
  25% {
    -webkit-transform: rotate(400deg);
    -moz-transform: rotate(400deg);
    -ms-transform: rotate(400deg);
    -o-transform: rotate(400deg);
    transform: rotate(400deg);
    top: 0;
    left: 100%; }
  50% {
    -webkit-transform: rotate(800deg);
    -moz-transform: rotate(800deg);
    -ms-transform: rotate(800deg);
    -o-transform: rotate(800deg);
    transform: rotate(800deg);
    top: 100%;
    left: 100%; }
  75% {
    -webkit-transform: rotate(1200deg);
    -moz-transform: rotate(1200deg);
    -ms-transform: rotate(1200deg);
    -o-transform: rotate(1200deg);
    transform: rotate(1200deg);
    left: 0;
    top: 100%; }
  100% {
    -webkit-transform: rotate(1600deg);
    -moz-transform: rotate(1600deg);
    -ms-transform: rotate(1600deg);
    -o-transform: rotate(1600deg);
    transform: rotate(1600deg);
    left: 0;
    top: 0; } }
@-o-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 0;
    left: 0; }
  25% {
    -webkit-transform: rotate(400deg);
    -moz-transform: rotate(400deg);
    -ms-transform: rotate(400deg);
    -o-transform: rotate(400deg);
    transform: rotate(400deg);
    top: 0;
    left: 100%; }
  50% {
    -webkit-transform: rotate(800deg);
    -moz-transform: rotate(800deg);
    -ms-transform: rotate(800deg);
    -o-transform: rotate(800deg);
    transform: rotate(800deg);
    top: 100%;
    left: 100%; }
  75% {
    -webkit-transform: rotate(1200deg);
    -moz-transform: rotate(1200deg);
    -ms-transform: rotate(1200deg);
    -o-transform: rotate(1200deg);
    transform: rotate(1200deg);
    left: 0;
    top: 100%; }
  100% {
    -webkit-transform: rotate(1600deg);
    -moz-transform: rotate(1600deg);
    -ms-transform: rotate(1600deg);
    -o-transform: rotate(1600deg);
    transform: rotate(1600deg);
    left: 0;
    top: 0; } }
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 0;
    left: 0; }
  25% {
    -webkit-transform: rotate(400deg);
    -moz-transform: rotate(400deg);
    -ms-transform: rotate(400deg);
    -o-transform: rotate(400deg);
    transform: rotate(400deg);
    top: 0;
    left: 100%; }
  50% {
    -webkit-transform: rotate(800deg);
    -moz-transform: rotate(800deg);
    -ms-transform: rotate(800deg);
    -o-transform: rotate(800deg);
    transform: rotate(800deg);
    top: 100%;
    left: 100%; }
  75% {
    -webkit-transform: rotate(1200deg);
    -moz-transform: rotate(1200deg);
    -ms-transform: rotate(1200deg);
    -o-transform: rotate(1200deg);
    transform: rotate(1200deg);
    left: 0;
    top: 100%; }
  100% {
    -webkit-transform: rotate(1600deg);
    -moz-transform: rotate(1600deg);
    -ms-transform: rotate(1600deg);
    -o-transform: rotate(1600deg);
    transform: rotate(1600deg);
    left: 0;
    top: 0; } }

/*# sourceMappingURL=main.css.map */
